footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fafafa;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

footer div p:nth-child(1) {
    margin-right: 20px;
}
